@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
  background: rgb(16,175,161);
  background: radial-gradient(circle, rgba(16,175,161,1) 0%, rgba(23,9,121,1) 55%, rgba(255,0,80,1) 100%);

}

body {
  background-color: rgb(223, 222, 222);
  font-family: 'Raleway', sans-serif;
  padding-top: 1rem;
}

/* Intro section */

.jumbotron {
  
  background-color: rgb(255, 255, 255);
}

#intro h1 {
  font-size: 4rem;
  
}

#intro h2 {
  font-size: 5rem;
  
}


.card-img {
  height: 16vw;
  border: 2px dashed purple;
  padding: 2px;
}

.card {
  min-height: 400px;
}

.card-text {
  padding-top: 10px;
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover{
  text-decoration: none;
  color: blue;
}


/* Flickering animation */

.intro {
  display: block;
  color: rgb(192, 191, 191);
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 5.5s;
  animation-duration: 5.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate-reverse;
  font-size: 20rem;
}

  /* Flickering animation */

@-webkit-keyframes flash {
    
  0% {
    text-shadow: 2px 2px 8px rgb(4, 252, 83);
    color: white;
}
  18% {
    text-shadow: 2px 2px 8px rgb(4, 107, 252);
    color: white;
  }
  20% {
    text-shadow: none;
    color: white;
  }
  22% {
    text-shadow: 2px 2px 8px rgb(252, 4, 231);
    color: white;
  }
  24% {
    text-shadow: none;
    color: white;
  }
  25% {
    text-shadow: 2px 2px 8px rgb(4, 252, 83);
    color: white;
  }
  53% {
    text-shadow: 2px 2px 8px rgb(4, 107, 252);
    color: white;
  }
  55% {
    text-shadow: none;
    color: white;
  }
  57% {
    text-shadow: 2px 2px 8px rgb(252, 4, 231);
    color: white;
  }
  100% {
    text-shadow: 2px 2px 8px rgb(4, 107, 252);
    color: white;
  }
} 